<%-include("template/head",{Title:"Error"})%>
<body>
    <h1>Lo sentimos , no pudimos encontrar esta página</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quam architecto doloribus numquam voluptas odit corporis deserunt nostrum rerum dolores error veniam odio, ipsa fugiat? Excepturi quae culpa eveniet earum!</p>
<%-include("template/footer")%>