<%-include("template/head",{Title:"Liran"})%>
<header class="container">
<h1 class="text-center display-1 mb-3">Liran contra el <span class="text-warning">covid</span></h1>
</header>
<main class="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex repellendus quis deleniti, quam soluta molestias corporis aspernatur possimus saepe, mollitia ab recusandae. Reprehenderit ab eos neque facilis quae aliquam cum?</p>
    <ul>
        <li>Anderson Mendoza</li>
        <li>Shirley Gonzales</li>
        <li>Sergio Quichca</li>
        <li>Nick Ranilla</li>
    </ul>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia eos atque porro illo recusandae aliquam nesciunt iste corrupti ipsum earum tempore iure eveniet voluptatibus, neque fuga, ut odit tenetur incidunt?</p>
</main>
<%-include("template/footer")%>