<%-include("template/head",{Title:"Liran"})%>
<header class="container">
<h1 class="text-center display-1 mb-3">Liran contra el <span class="text-warning">covid</span></h1>
</header>
<main class="container">
    <p>
        Esta página esta centrada en ofrecer productos y sevicios relacionados a la limpieza.<br>
        En este proyecto hemos participado los siguientes desarralloderes:</p>
    <ul>
        <li>Anderson Mendoza</li>
        <li>Shirley Gonzales</li>
        <li>Sergio Quichca</li>
        <li>Nick Ranilla</li>
        <li>Jerson Olarte</li>
    </ul>
    <p>Los invitamos a revisar nuestro contenido!</p>
</main>
<%-include("template/footer")%>