<%-include("template/head",{Title:"Plagas"})%>
<div class="container">
    <h1 class="text-center">Registrar plagas</h1>
    <div class="row">
        <div class="col-12 col-sm-1 col-md-2 col-xl-2"></div>
        <div class="col-12 col-sm-10 col-md-8 border col-xl-8">
            <form action="/plagas" method="POST">
                <input type="text" placeholder="Ingresa tu nombre" class="form-control my-2" name="nombre">
                <input type="text" placeholder="Ingresa plaga" class="form-control my-2" name="plagas">
                <input type="email" placeholder="Ingresa tu email" class="form-control my-2" name="email">
                <input type="datetime" placeholder="Ingresa fecha disponible" class="form-control my-2" name="fecha">
                <button class="btn btn-success btn-block" type="submit">Registrar</button>
                <a href="/plagas" class="btn btn-primary btn-block">Volver a la tabla</a>
            </form>
        </div>
        <div class="col-12 col-sm-1 col-md-2 col-xl-2"></div>
</div>
<%-include("template/footer")%>        